.DS_Store
oceansar/nrcs/__pycache__
oceansar/ocs_io/__pycache__
oceansar/radarsim/__pycache__
oceansar/spec/__pycache__
oceansar/spread/__pycache__
oceansar/surfaces/__pycache__
oceansar/swell_spec/__pycache__
oceansar/utils/__pycache__
oceansar/closure/__pycache__
oceansar/constants/__pycache__
oceansar/.ropeproject
oceansar/__pycache__
oceansar/dopscasim/__pycache__/dopsca_sys.cpython-314.pyc
oceansar/dopscasim/__pycache__/dopsca_raw.cpython-314.pyc
.gitignore
oceansar/dopscasim/__pycache__/__init__.cpython-314.pyc
.gitignore
.pydevproject
oceansar.egg-info/PKG-INFO
oceansar.egg-info/requires.txt
oceansar.egg-info/SOURCES.txt
oceansar.egg-info/top_level.txt
oceansar.egg-info/top_level.txt
dist/oceansar-25.12-py3.12.egg
oceansar.egg-info/PKG-INFO
oceansar.egg-info/requires.txt
oceansar.egg-info/SOURCES.txt
oceansar.egg-info/top_level.txt
oceansar.egg-info/PKG-INFO
